*.ninja_deps
armeabi-v7a
multi-v2
debug
mergeDebugResources
instant-run-resources
logs
package_resources-debug
mergeDebugShaders
mergeDebugJniLibFolders
mergeDebugAssets
zip-cache
fileChanges
fileContent
fileHashes
javaCompile
taskHistory
buildOutputCleanup
vcsWorkingDirs
caches
codeStyles
.idea
*.zip
debug-mergeJavaRes
debug-mergeJniLibs
*.tflite
/android/app/src/main/assets/MobileNetSSD.mem.h
/android/app/src/main/assets/MobileNetSSD_deploy.bin
/android/app/src/main/assets/MobileNetSSD_deploy.param
/android/app/src/main/assets/MobileNetSSD_deploy.param.bin
/android/app/src/main/assets/chaoyingDataset1.txt
/android/app/src/main/assets/chaoyingDataset1_ncnn.txt
